.inputMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20vw;
}
.labelStyle{
    text-align: justify;
}
.errorStyle{
    display: none;
}